<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>915187532518-aaaoqt3n93mijrr3d92ls1pdisncr2j2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.915187532518-aaaoqt3n93mijrr3d92ls1pdisncr2j2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>915187532518-dcrgn8r0l5aup2flsnlcnquqpfab3f2r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBUzH7QUOe33qEpoMswKVwaoJVjtyZFRcA</string>
	<key>GCM_SENDER_ID</key>
	<string>915187532518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meineWunschliste</string>
	<key>PROJECT_ID</key>
	<string>meine-wunschliste</string>
	<key>STORAGE_BUCKET</key>
	<string>meine-wunschliste.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915187532518:ios:1bb1ba4d79273edd3c3127</string>
</dict>
</plist>